@model Employee
@{
    ViewData["Title"] = "Add Employee";
}

<h1>New Employee</h1>

<form asp-controller="Employee" asp-action="Add" method="post">
    <div class="form-group">
        <label class="control-label col-md-2">
            <label asp-for="Name"></label>
        </label>
        <div class="col-md-6">
            <input type="text" asp-for="Name" name="Name" required class="form-control" />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">
            <label asp-for="Email"></label>
        </label>
        <div class="col-md-6">
            <input type="text" asp-for="Email" name="Email" required class="form-control" />
        </div>
        <div class="col-md-4">
            <span asp-validation-for="Email" class="alert-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2">
             <label >Skills</label>
        </label>
        <div class="col-md-10">
            <input type="text" name="skills" required class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

@section Scripts
{

    <script src="~/js/jquery.amsify.suggestags.js"></script>
<script>
    $('input[name="skills"]').amsifySuggestags({
  type : 'bootstrap',
        suggestions: ['ASP.NET','PHP','iOS','Android'],
  	afterAdd : function(value) {
		console.info(value); // Parameter will be value
	},
	afterRemove : function(value) {
		console.info(value); // Parameter will be value
	},
});
</script>
}